<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>订单监控器</title>
		<link rel="stylesheet" href="dist/css/bootstrap.css" />	

		<script src="js/socket.io.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/socket.client.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="dist/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	</head>
		
	<body>
		
	 <div class="container">
      <h2>第<%= items.cate %>场</h2>
      <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>ID</th>
				<th>节拍时间</th>
				<th>当前价</th>
				<th>品质（精品、普品）</th>
				<th>订单</th>
				<th>操作</th>
          </tr>
        </thead>
        <tbody>
        	
          <% items.list.forEach(function(val){%>
          <tr>
           		<td><%= val.Pid %></td>
				<td><%= val.EndTime %></td>
				<td><%= val.DqPrice %></td>
				<td><%= val.IsTop %></td>
				<td>成功</td>
				<td>
					<a class="btn btn-sm btn-success">生成订单</a>
				</td>
          </tr>
          <% }) %>
          	
        </tbody>
      </table>
    </div>
	</body>

</html>